body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/***** BACKGROUND IMAGE *****/

.wrap {
  position: relative;
}

.wrap::before {
  content: " ";
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  /* filter: grayscale(10%); */
  background-image: url("./images/background1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content {
  position: relative;
}

.titles {
  margin-top: 90px;
  margin-bottom: 50px;
}

.titles h1 {
  font-family: "Yeseva One", cursive;
  font-size: 60px;
  color: white;
  text-shadow: 0 1px 1px black;
}

.titles p {
  /* width: 30%; */
  margin: auto;
  font-size: 20px;
}

.login {
  background-color: rgba(246, 244, 242, 0.656);
  width: 30%;
  margin: auto;
  padding: 30px;
}

.label {
  float: left;
}

.login button {
  width: 100%;
  background-color: #ccbeaf;
  color: white;
  border: none;
}

.bi-camera-fill {
  margin: 0px 20px;
}

.navBar-title {
  font-weight: 700;
}

.navBar .navBar-link {
  color: black;
  padding: 0px 30px;
}

.about-me {
  background-color: rgba(246, 244, 242, 0.878);
  color: #3f4147;
  margin: 80px auto;
  padding: 5% 30% 25%;
  width: 90%;
}

.user-info {
  margin: 20px;
}

.picture-form {
  margin: 80px auto;
  padding: 5% 30% 25%;
  width: 90%;
  background-color: rgba(246, 244, 242, 0.878);
}

.picture-form button {
  background-color: #ccbeaf;
  color: white;
}

.pic-container {
  background-color: rgba(246, 244, 242, 0.878);
  width: 95%;
  margin: 60px auto;
  padding: 20px;
  /* column-count: 4;
  column-gap: 2px; */
}

ul {
  margin: auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

li {
  height: 25vh;
  flex-grow: 1;
}

.pic-container img {
  min-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
}

.popup-box {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

.popup-box #close-btn {
  float: left;
  cursor: pointer;
  margin: 70px 20px;
  color: white;
}

.box {
  position: relative;
  width: 90%;
  height: auto;
  /* min-height: 43em; */
  background-color: white;
  margin: 70px auto;
  padding: 10px;
}

.components {
  display: inline-flex;
  width: 100%;
  height: auto;
}

.components .delete-image-btn-container {
  margin: 49% 0 0 88%;
  display: flex;
  position: absolute;
  color: #ababab;
  cursor: pointer;
  text-decoration: underline;
}

.delete-image-btn-container p {
  margin-right: 5px;
}

.delete-image-btn-container #delete-image-btn {
  margin-top: 5px;
}

.pic-detail-compo {
  margin: 10px;
}

.popup-box .box .pic-detail-compo img {
  object-fit: contain;
  /* width: 40%;
  height: auto; */
  min-width: 850px;
  width: 100%;
  height: auto;
  max-height: 610px;
  /* display: block; */
  /* object-fit: cover; */
  background-color: black;
}

.pic-details p {
  display: inline-block;
  margin: 10px 15px 0px;
}

.comment-detail-compo {
  margin: 10px 0px 0px 50px;
}

.comment-card {
  text-align: left;
  font-size: 15px;
}

.comment-card .comment-edit-delete-btn {
  margin: 0 0 0 82%;
  cursor: pointer;
}

.edit-comment-container {
  padding: 8px;
}

.edit-comment-container button {
  background-color: #ccbeaf;
  color: white;
}


.add-comment-form button {
  background-color: #ccbeaf;
  color: white;
}
