body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/***** BACKGROUND IMAGE *****/

.wrap {
  position: relative;
}

.wrap::before {
  content: " ";
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  /* filter: grayscale(10%); */
  background-image: url("./images/background1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content {
  position: relative;
}

.titles {
  margin-top: 90px;
  margin-bottom: 50px;
}

.titles h1 {
  font-family: "Yeseva One", cursive;
  font-size: 60px;
  color: white;
  text-shadow: 0 1px 1px black;
}

.titles p {
  /* width: 30%; */
  margin: auto;
  font-size: 20px;
}

.login {
  background-color: rgba(246, 244, 242, 0.656);
  width: 30%;
  margin: auto;
  padding: 30px;
}

.label {
  float: left;
}

.login button {
  width: 100%;
  background-color: #ccbeaf;
  color: white;
  border: none;
}

.bi-camera-fill {
  margin: 0px 20px;
}

.navBar-title {
  font-weight: 700;
}

.navBar .navBar-link {
  color: black;
  padding: 0px 30px;
}

.about-me {
  background-color: rgba(246, 244, 242, 0.878);
  color: #3f4147;
  margin: 80px auto;
  padding: 5% 30% 25%;
  width: 90%;
}

.user-info {
  margin: 20px;
}

.picture-form {
  margin: 80px auto;
  padding: 5% 30% 25%;
  width: 90%;
  background-color: rgba(246, 244, 242, 0.878);
}

.picture-form button {
  background-color: #ccbeaf;
  color: white;
}

.pic-container {
  background-color: rgba(246, 244, 242, 0.878);
  width: 95%;
  margin: 60px auto;
  padding: 20px;
  column-count: 4;
  column-gap: 2px;
}


.pic-container img {
  width: 100%;
  height: auto;
  display: block;
  margin: 2px 0px;
}
